@import '../assets/variables';

.avatar__regular {
  border-radius: $border-radius;
  height: $avatar-size;
  width: $avatar-size;
}

.avatar__small {
  border-radius: $border-radius / 2;
  height: $avatar-size / 2;
  width: $avatar-size / 2;
}
