@import '../assets/variables';

.logo__main {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.logo__mesenja {
  margin-bottom: $layout-padding;
}

.logo__name {
  margin: 0;
}
