@import '../assets/variables';

.sideBar {
  background: $color-primary;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;

  nav {
    display: flex;
    flex-direction: column;

    a {
      color: $color-background;

      &.active {
        background: $color-primary-light;
      }

      img {
        height: 1.5em;
        margin: 1em;
        width: 1.5em;
      }
    }
  }
}
