@import '../assets/variables';

.feed__main {
  flex: 1;
  padding: 0 $layout-margin;
  overflow: auto;
}

.feed__item {
  align-items: center;
  display: flex;
  margin: $layout-margin 0;

  div {
    margin-left: $layout-padding;

    p {
      margin: 0;
    }

    span {
      color: $color-text-light;
      display: block;
      font-size: $text-size-small;
      margin-top: $layout-padding / 2;
    }
  }
}
