@import '../assets/variables';

.feed__main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.feed__team {
  margin-bottom: $layout-margin;
}
