@import '../assets/variables';

.index__main {
  align-items: center;
  display: flex;
  justify-content: center;
}

.index__logo {
  border-right: 1px solid $color-border;
  margin-right: $layout-margin;
  padding-bottom: $layout-margin;
  padding-right: $layout-margin;
  padding-top: $layout-margin;
}

.index__login {
  color: $color-text-light;
  margin-left: $layout-margin;

  &:hover {
    color: $color-primary;
  }
}
