@import '../assets/variables';

.register__main {
  align-items: center;
  display: flex;
  justify-content: center;
}

.register__header {
  border-right: 1px solid $color-border;
  margin-right: $layout-margin;
  padding-bottom: $layout-margin;
  padding-right: $layout-margin;
  padding-top: $layout-margin;
}
