@import '../../assets/variables';

.members__main {
  flex: 1;
  padding: 0 $layout-margin;
  overflow: auto;
}

.members__name {
  align-items: center;
  display: flex;
  font-weight: $text-weight-bold;

  img {
    margin-right: $layout-padding;
  }
}
