@import '../../assets/variables';

.members__main {
  flex: 1;
  padding: 0 $layout-margin;
  overflow: auto;
}

.members__name {
  width: 80%;
}

.members__member {
  align-items: center;
  display: flex;
}

.members__member__avatar {
  margin-right: $layout-padding;
}

.members__member__name {
  font-size: $text-size-large;
}
