@import '../../assets/variables';

.members__main {
  flex: 1;
  padding: 0 $layout-margin;
  overflow: auto;
}

.members__item {
  align-items: center;
  display: flex;
  margin: $layout-margin 0;
}

.members__details {
  margin-left: $layout-padding;
}

.members__joined {
  color: $color-text-light;
  display: block;
  font-size: $text-size-small;
  margin-top: $layout-padding / 2;
}
